@font-face {
    font-family: 'gotic';
    src: url('fonts/Sketch\ Gothic\ School.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'gotic', Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
}