@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F4EEED, #F2DBD5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d9b2a9d0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A5A68F;
    text-align: center;
    text-shadow: 1px 1px 2px #A5A68F;
}

h2 {
    color: #D9B2A9;
}

p { 
    text-align: justify;
}